.main-title{
    color: blueviolet;
}

.game-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.game-item{
    color: darkslateblue;
    min-width: 250px;
}

.game-confirm{
    background-color: darkslateblue;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    cursor: pointer;
}

.game-confirm:hover{
    background-color: blueviolet;
    transition: .5s ease background-color;
}